# Machine Learning Foundation

## Section 1, Part b: Reading Data Lab

In [3]:
# Imports
import sqlite3 as sq3
import pandas.io.sql as pds
import pandas as pd

## Lab Exercise: Reading in database files

 - Create a variable, `path`, containing the path to the `baseball.db` contained in `resources/`
 - Create a connection, `con`, that is connected to database at `path`
 - Create a variable, `query`, containing a SQL query which reads in all data from the `allstarfull` table
 - Create a variable, `observations`, by using pandas' [read_sql](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_sql.html)

### Optional
 - Create a variable, `tables`, which reads in all data from the table `sqlite_master`
 - Pretend that you were interesting in creating a new baseball hall of fame. Join and analyze the tables to evaluate the top 3 all time best baseball players.

In [4]:
### Sigfried's Solution
# Create a variable containing the path to the `baseball.db` contained in `data/`
path = 'data/baseball.db'

# Create a connection that is connected to the database
db_connection = sq3.Connection(path)

# Create a SQL query which reads in all data from the allstarfull table
query = 'SELECT * FROM allstarfull;'

allstar_observations = pd.read_sql(query, db_connection)
# display(allstar_observations)

# Read in all the data from the table sqlite_master
query = 'SELECT * FROM sqlite_master;'

tables = pd.read_sql(query, db_connection)
# display(tables)

# Pretend that you were interesting in creating a new baseball hall of fame.
# print('\nI am pretending.\n')

# Join and analyze the tables to evaluate the top 3 all time best baseball players.
query = ('SELECT playerID, sum(GP) AS num_games_played, AVG(startingPos) AS avg_starting_position '
         'FROM allstarfull '
         'GROUP BY playerID '
         'ORDER BY num_games_played DESC, avg_starting_position ASC '
         'LIMIT 3')

best_players = pd.read_sql(query, db_connection)
display(best_players)

    playerID  num_games_played  avg_starting_position
0  musiast01              24.0               6.357143
1   mayswi01              24.0               8.000000
2  aaronha01              24.0               8.470588

---
### Machine Learning Foundation (C) 2020 IBM Corporation